<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.mlpe_web.dao.MLPEMapper">
	<select id="selectTimeframes" resultType="Timeframe">
		select CAST(EXTRACT(EPOCH FROM sl.endts)*1000 AS BIGINT) as endts, sl.st_id st_id, md_sn, modulewatt_avg modulewatt, sl.stringwatt_avg stringwatt,
		modulevoltage, moduletemperature, stringvoltage, temperature stringtemperature, watt_avg totalwatt
		from modules_log_${unit} ml, strings_log_${unit} sl, gateway_log_${unit} gl
		where gl.gt_id = #{gt_id} and sl.gt_id = #{gt_id} and ml.st_id = sl.st_id
		and date_trunc('minute', ml.endts) = date_trunc('minute', sl.endts)
		and date_trunc('minute', sl.endts) = date_trunc('minute', gl.endts)
		and sl.endts at time zone 'utc' between #{rangest}::timestamp
		and #{rangeend}::timestamp order by sl.endts asc, st_id asc, md_sn asc
	</select>
	<!--
	<select id="selectList" resultType="GatewayLog">
	select * from gateway_log
	</select>
	-->
	<select id="selectDeviceInformation" resultType="Devices">
		select * from devices where dv_id=#{dv_id}
	</select>
	<select id="selectStringsLog" resultType="StringsLog">
		select * from strings_log where gt_id=#{gt_id} and st_id=#{st_id}
	</select>
	<!--
	<select id="selectStringsLog_DateTotalwh" resultType="StringsLog_DateTotalwh">
	select gt_id, st_id, time_bucket('15 minute', endts) as date, max(totalwh) as totalWh from strings_log where gt_id=#{gt_id} and st_id=#{st_id} and endts BETWEEN #{startts} AND '2020-08-11 23:59:59.000000' group by date, gt_id, st_id order by date asc;
	</select>
	-->
	<select id="selectStringsLog_DateTotalwh" resultType="StringsLog_DateTotalwh">
		select gt_id, st_id, CAST(EXTRACT(EPOCH FROM time_bucket('15 minute', endts))*1000 AS BIGINT) as date, max(totalwh) as totalWh from strings_log where gt_id=#{gt_id} and st_id=#{st_id} and date_trunc('day', endts::timestamp) = date_trunc('day', #{date}::timestamp) group by date, gt_id, st_id order by date asc;
	</select>
	<!--
	<select id="selectTotalLog_DateTotalwh" resultType="TotalLog_DateTotalwh">
	select gt_id, CAST(EXTRACT(EPOCH FROM time_bucket('30 minute', endts))*1000 AS BIGINT) as date from gateway_log_quarter where gt_id=#{gt_id} and date_trunc('day', endts::timestamp) = date_trunc('day', #{date}::timestamp) group by date, gt_id order by date asc;
	</select>
	-->
	<!-- <select id="selectModuleLog_DateTotalwh" resultType="ModuleLog_DateTotalwh"> -->
	<!-- select md_sn, modulewatt, CAST(EXTRACT(EPOCH FROM time_bucket('1 day', endts))*1000 AS BIGINT) as date, max(modulewatt) as modulewatt from modules_log where md_sn=#{md_sn} and date_trunc('day', endts::timestamp) = date_trunc('day', #{date}::timestamp) group by date, md_sn, modulewatt order by date asc; -->
	<!-- </select> -->
	<select id="selectGatewayLogWithUnit" resultType="GatewayLogWithUnit">
		<!-- select gt_id, CAST(EXTRACT(EPOCH FROM endts)*1000 AS BIGINT) as endts, totalwh_delta, watt_avg from ${tableType}_log_${unit} where gt_id=#{gt_id}; -->
		<!-- select gt_id, CAST(EXTRACT(EPOCH FROM endts)*1000 AS BIGINT) as endts, totalwh_delta, watt_avg from gateway_log_${unit} where gt_id=#{gt_id} and endts >= '2020-02-01' order by endts asc; -->
		select gt_id, CAST(EXTRACT(EPOCH FROM endts)*1000 AS BIGINT) as endts, totalwh_delta, watt_avg from gateway_log_${unit} where gt_id=#{gt_id} order by endts asc;
	</select>
	<select id="selectStringsLogWithUnit" resultType="StringsLogWithUnit">
		select st_id, CAST(EXTRACT(EPOCH FROM endts)*1000 AS BIGINT) as endts, totalwh, totalwh_delta, stringvoltage_avg, temperature_avg, stringwatt_avg from strings_log_${unit} where st_id=#{st_id} order by endts asc;
	</select>
	<select id="selectModulesLogWithUnit" resultType="ModulesLogWithUnit">
		select md_sn, CAST(EXTRACT(EPOCH FROM endts)*1000 AS BIGINT) as endts, modulevoltage_avg, moduletemperature_avg, modulewatt_avg from modules_log_${unit} where md_sn=#{md_sn} order by endts asc;
	</select>
	<select id="selectCurrentPower" resultType="CurrentPower">
		select endts, watt_avg as power from gateway_log_quarter where gt_id=#{gt_id} order by endts desc limit 1;
	</select>
	<select id="selectEnergyToday" resultType="Energy">
		<!-- select sum(totalwh) as totalwh from strings_log_day where gt_id=#{gt_id} and date_trunc('day', endts at time zone 'utc') = #{time}::timestamp; -->
		select sum(totalwh_delta) as totalwh from gateway_log_quarter where gt_id = #{gt_id} and date_trunc('day', endts at time zone 'utc') = date_trunc('day', #{time}::timestamp)
	</select>
	<select id="selectEnergyMonth" resultType="Energy">
		<!-- select sum(totalwh) as totalwh from strings_log_day where gt_id=#{gt_id} and date_trunc('month', endts at time zone 'utc') = date_trunc('month', #{time}::timestamp); -->
		select sum(totalwh_delta) as totalwh from gateway_log_quarter where gt_id = #{gt_id} and date_trunc('month', endts at time zone 'utc') = date_trunc('month', #{time}::timestamp)
	</select>
	<select id="selectEnergyLifetime" resultType="Energy">
		<!-- select sum(totalwh) as totalwh from strings_log_day where gt_id=#{gt_id}; -->
		select sum(totalwh) as totalwh from strings_log_day where gt_id=#{gt_id} and endts = (select max(endts) from strings_log_day);
	</select>
</mapper>
