:root {
  /* --lev0: #fff4e6;
  --lev1: #ffe8cc;
  --lev2: #ffd8a8;
  --lev3: #ffc078;
  --lev4: #ffa94d;
  --lev5: #ff922b;
  --lev6: #fd7e14;
  --lev7: #f76707;
  --lev8: #e8590c;
  --lev9: #d9480f; */

  --lev0: #edf2ff;
  --lev1: #dbe4ff;
  --lev2: #bac8ff;
  --lev3: #91a7ff;
  --lev4: #748ffc;
  --lev5: #5c7cfa;
  --lev6: #4c6ef5;
  --lev7: #4263eb;
  --lev8: #3b5bdb;
  --lev9: #364fc7;
}
