footer.sticky-footer {
  box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.6);
  color: #858796;
}

footer.sticky-footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer.sticky-footer .copyright,
.tel,
.location {
  line-height: 1.5;
  font-size: 0.8rem;
}
