.btn-secondary.dropdown-toggle {
  background: none !important;
  color: black !important;
  border: none !important;
  width: 100px;
  text-align: right !important;
}
.btn-secondary:focus {
  box-shadow: none !important;
}
.dropdown-menu {
  min-width: 0 !important;
}
